.space {
  display: flex;
  align-items: center;

  padding: 5px 10px;
  border-radius: 5px;
  background-color: #e9e9e9;
  margin-bottom: 20px;
}

.currentSpace {
  border-right: 2px solid #2f7edb;
}
.space .image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
}

.space .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.space .text {
  padding: 5px;
}
.space .text .title {
  margin-bottom: 0px;
  font-size: 15px;
  margin-top: 5px;
}
.space .text .subTitle {
  font-size: 13px;
}
.join {
  background-color: #2f7edb;
  width: 70px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 38px;
  color: #fff;
}
.join:hover {
  background-color: darkslategray;
}

.box {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.header__bottom {
  background-color: #2f7edb;
}
.header__bottom ul li a {
  color: #fff;
  font-weight: 500;
}

.profile-toggele {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  /* background-image: url("/eduker/assets/img/Ellipse\ 16.png"); */
  background-size: cover;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}
.profile-toggele-img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-size: cover;
  cursor: pointer;
}
.profile-toggele-img-settings {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  background-size: cover;
  cursor: pointer;
}
.profile-menu {
  position: absolute;
  bottom: -200px;
  right: -10px;
  padding: 10px 15px;
  width: 250px;
  border-radius: 10px;
  visibility: 0%;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 3;
  display: none;
  animation-name: slide;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}
@keyframes slide {
  from {
    bottom: -145px;
    opacity: 0%;
  }
  to {
    bottom: -200px;
    opacity: 100%;
  }
}

.profile-menu::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -12px;
  right: 20px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 21px solid #ffffff;
}
.show {
  display: block;
}
@media screen and (max-width: 992px)  {
  .cover-pic {
    height: 200px;}

    .profile__menu-left {

      display: none;
  }
}
.profile-menu .text {
  margin-bottom: 20px;
}

.profile-menu .text .head {
  font-weight: bold;
  font-size: 15px;
}
.profile-menu text .email {
  font-size: 15px;
}

.profile-menu ul li {
  list-style: none;
  padding: 5px;
}
.profile-menu ul li a {
  color: rgb(60, 60, 61);
}
.profile-menu ul li a:hover {
  color: #2f7edb;
  /* transition: all 0.1s ease-out !important; */
}
.search {
  width: 250px;
}

.ratings {
  margin-right: 10px;
}

.ratings i {
  color: #cecece;
  font-size: 18px;
}

.rating-color {
  color: #fbc634 !important;
}

.review-count {
  font-weight: 400;
  margin-bottom: 2px;
  font-size: 18px !important;
}

.card {
  border: none;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 10px 0px rgb(51 51 51 / 37%);
  box-shadow: 0px 1px 10px 0px rgb(51 51 51 / 37%);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card-small {
  padding: 16px;
  
  /* -webkit-box-shadow: none;
  box-shadow: none; */
}
.share-box-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.profile-thumb {
  display: inline-block;
  position: relative;
}
.profile-thumb-middle {
  width: 55px;
  height: 55px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.share-text-box {
  position: relative;
  padding-left: 15px;
}

.share-text-box .share-text-field {
  width: 100%;
  border: none;
  display: block;
  height: 44px;
  padding: 13px 90px 13px 20px;
  resize: none;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  background-color: #f1f1f1;
  -webkit-box-shadow: inset 0px 1px 10px 0px rgba(85, 85, 85, 0.2);
  box-shadow: inset 0px 1px 10px 0px rgba(85, 85, 85, 0.2);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.share-text-box .btn-share {
  top: 50%;
  right: 3px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  padding: 11px 25px;
  margin-right: 2px;
  border-radius: 40px;
  background-color: #2f7edb;
  position: absolute;
  text-transform: uppercase;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
figure {
  margin: 0;
}
figure img {
  width: 100%;
}

.posted-author {
  margin-left: 20px;
}

.posted-author .post-time {
  display: block;
  font-size: 14px;
  line-height: 1;
  padding-top: 5px;
}

.post-settings-bar {
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.post-settings-bar span {
  width: 20px;
  height: 1px;
  display: block;
  background-color: #ccc;
  margin-bottom: 4px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.post-settings {
  right: 0;
  top: 100%;
  width: 200px;
  background-color: #fff;
  position: absolute;
  padding: 20px;
  z-index: 9;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}

.post-content {
  padding-top: 18px;
}
.post-desc {
  /* padding-bottom: 16px; */
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
}

.post-thumb-gallery {
  border-radius: 5px;
  overflow: hidden;
}

.post-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  margin-top: 10px;
}
.post-like,
.post-comment,
.post-share {
  font-size: 15px;
  color: #333333;
  margin-right: 30px;
  vertical-align: middle;
  /* font-weight: bold; */
  display: flex;
  align-items: center;
}
.post-like i,
.post-comment i,
.post-share i {
  font-size: 23px;
  margin-right: 5px;
}
.author {
  margin-bottom: 0px !important;
}
.post-meta button:hover {
  color: #2f7edb;
}

.post-meta button:hover i {
  color: #2f7edb;
}

.lg-backdrop.in {
  opacity: 1;
}

.lg-backdrop {
  background-color: rgba(51, 51, 51, 0.9);
}
.lg-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease 0s;
  -o-transition: opacity 0.15s ease 0s;
  transition: opacity 0.15s ease 0s;
}

.lg-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease 0s;
  -o-transition: opacity 0.15s ease 0s;
  transition: opacity 0.15s ease 0s;
}
.lg-outer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  text-align: left;
  opacity: 0;
  outline: 0;
  -webkit-transition: opacity 0.15s ease 0s;
  -o-transition: opacity 0.15s ease 0s;
  transition: opacity 0.15s ease 0s;
}
.lg-outer .lg {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.lg-outer .lg-inner {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
}

.lg-outer .lg-inner {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
}
.lg-outer .lg-inner {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
}
.lg-outer .lg-img-wrap,
.lg-outer .lg-item {
  display: inline-block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.img-gallery .row .col-6 .post-thumb .gallery-selector img {
  width: 99%;
}
ul li {
  list-style: none;
}

.mobile-spaces ul li a {
  margin-bottom: 5px;
}

.course__img img {
  height: auto;
}

.profile-picture {
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  width: 330px;
}
.profile-banner-large {
  height: 400px;
  overflow: hidden;
}

.profile-picture-box {
  position: absolute;
  -webkit-transform: translateY(calc(-50% - 10px));
  -ms-transform: translateY(calc(-50% - 10px));
  transform: translateY(calc(-50% - 10px));
  /* background-color: #fff; */
  z-index: 1;
  top: -26px;
  left: -26px;
}

.profile-list {
  background-color: #2f7edb;
  margin-top: 25px;
  border-radius: 60px;
  padding: 10px 0px;
  margin-bottom: 20px;
  position: relative;
  margin-left: 62px;
  margin-right: 10px;
}

.profile-edit-panel {
  display: flex;
  justify-content: end;
}

.profile-edit-panel .edit-btn {
  width: 157px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 63px;
  color: #2f7edb;

  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #fff;
}

.profile-edit-panel .follow-btn {
  width: 157px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 63px;

  text-align: center;
  background-color: #ffffff;
  color: #2984c9;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  &:hover {
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
  }
}


.profile-list .main-menu {
  display: flex;
}
.profile-list .main-menu li {
  margin: 10px;
}
.profile-list .main-menu li a {
  color: #fff;

  text-align: center;

  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about-author p {
  font-size: 17px;
}

.author-into-list li a {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.author-into-list li a i {
  margin: 5px;
}
.author-into-list li a span {
  margin: 5px;
}

.exp {
  margin-bottom: 10px;
}

.head {
  display: flex;

  align-items: center;
}

.head .title {
  margin-left: 10px;
}
.exp .subTitle {
  line-height: 20px;
}
.profile-banner-large img {
  object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .profile-picture-box {
    top: 4px;
    left: -27px;
  }
  .profile-picture {
    width: 150px;
  }
  .profile-banner-large {
    height: 250px;
  }
  .profile-list {
    margin-left: 20px;
    margin-right: 10px;
  }
  .profile-list .main-menu li a {
    font-size: 15px;
  }
  .profile-edit-panel button {
    width: 93px;
    height: 45px;

    font-size: 16px;
  }
  .bio {
    margin-top: 0px;
  }
}

.see-more-butt {
  width: 163px;
  height: 46px;
  flex-shrink: 0;
  background-color: #2f7edb;
  color: #fff;
  font-size: 17px;
}
.add-exp {
  background-color: #2f7edb;
  color: #fff;
  padding: 5px 10px;
  &:hover {
    background-color: #333333;
  }
}

@media (max-width: 575px) {
  .profile-banner-large {
    height: 200px;
  }

  .profile-picture {
    width: 120px;
  }
  .profile-edit-panel .edit-btn {
    width: 73px;
    height: 40px;
    font-size: 13px;
  }
  .profile-edit-panel .follow-btn {
    width: 73px;
    height: 40px;
    font-size: 13px;
  }
  .profile-list .main-menu li a {
    font-size: 13px;
  }
  .profile-list .main-menu li {
    margin: 5px;
  }
  .profile-picture-box {
    top: 12px;
    left: -20px;
  }
  .about-author p {
    font-size: 14px;
  }
  .author-into-list li a {
    font-size: 15px;
  }
  .posted-author {
    margin-left: 5px;
  }
  .author {
    width: 150px;
  }
}

.create-space {
  background-color: #2984c9;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  &:hover {
    background-color: #333333;
  }
}

.cover-pic {
  height: 400px;
  background-color: gray;
  /* background-size: cover; */
}

.profile-pic-info {
  position: absolute;
  top: -200px;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translateX(-50%);
  border-radius: 50%;
  /* border: 1px solid rgb(0, 0, 0); */
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.542);
  overflow: hidden;
}
.profile-pic-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sign__input textarea {
  background: #e3e3e3;
  border: none;
  resize: none;
  height: 200px;
  padding: 10px;
  border-radius: 5px;

}

.sign__input textarea::placeholder {
  


}
.nice-select {
  width: 100% !important;

  height: 60px;
  line-height: 59px;
  background-color: #f5f6f8;
  border: 0;
}

.nice-select .option {
  width: 100% !important;
}

.nice-select .list {
  width: 100% !important;
}

.pic-edit-info,
.cover-edit-info {
  background-color: rgba(255, 255, 255, 0.605);
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.pic-edit-info {
  z-index: 5;
  position: absolute;
  top: -50px;
  transition: 0.3s ease;
  left: 47%;
  transform: translateX(-50%);
  &:hover {
    background-color: #60b2f1;
  }
}

input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
}
.profile-pic {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}
.img-container {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
  padding: 10px;
}

.img-container .profile-pic img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.skip {
  &:hover {
    color: #2f7edb;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}


.cover-pic-info {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-edit-info {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cover-pic-privew {
  width: 100%;
  display: flex;
  align-items: center;
}

.cover-pic-privew img {
  width: 100%;
  object-fit: cover;
  height: 50%;
}
textarea {
  font-size: 1rem;
  line-height: 1.5em;
  font-family: 'Roboto';
}
textarea::placeholder {
  color: #8e8c94;
  
}
.green-bord {
  border: 2px solid #0080008f !important;}


.max-words {
  font-size: 12px;
  text-decoration: underline;
}

.sign__input-wrapper-name {
  width: 49%;
}


.premium {
  position: absolute;
  color: red;
  border: 2px solid red;
  padding: 5px 20px;
  top: 10px;
  left: 20px;
  font-size: 18px;
  border-radius: 5px;
  z-index: 5;
}

.filter {
  filter: grayscale();

}


.course-pic-cont {
  box-shadow: 0 0 1px 0 black;
}

.space-img-label {
  margin: 20px; 
  display: flex;
  align-items: center;
  background-color: #2984c9;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.space-img-label i {
  margin-right: 10px;
}

.course-cover-cont {
  width: 500px;
  height: 300px;
  box-shadow: 0 0 1px 0 black;

}

.course-cover-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-thumb-create-post {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.profile-thumb-create-post img {
  width: 100%;
}

.post-create {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  position: relative;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  border-radius: 30px;
  padding: 5px 20px 5px 5px;
  box-shadow: 0px 1px 2px 0px rgb(51 51 51 / 37%);
}

.btn-group-post {
margin: 10px 0px;
  width: 100%;
}

.mt-70 {
  margin-top: 70px;
}

.dropdown-menu{
  inset: auto !important;
  position: absolute !important;
    right: 0 !important;
    width: 100%;
    top: 0;
    transform: translate3d(0px , 0px , 0px) !important;
    z-index: 5;
  padding: 10px;


}

.placehold{
/* margin-left: 50px; */
  font-size: 16px;
  color: #6c6c6c;
}


.dropdown-menu .nice-select {
  padding: 0px;
  border: 2px solid #2984c9;
  border-radius: 30px;
  height: 35px;
  padding: 0px 5px;
  margin-top: 10px;
  line-height: 33px;
  color: #2984c9;
}

.postbtn {
  background-color: #2f7edb;
  color: #f5f6f8;
  padding: 10px 25px;
  /* margin: 10px; */
  border-radius: 30px;
}

.title-btn {
  border: 1px solid rgb(83 83 83 / 52%);
  padding: 5px 10px;
  width: 80px;
  margin: 5px;
  border-radius: 5px;
}

.title-container{
  margin-bottom: 20px;
}

 .sign__input input {
  height: 50px;
}

.border-left {
  border-left: 2px solid rgba(128, 128, 128, 0.252);
}

.log-out  {
  border-top: 1px solid rgba(128, 128, 128, 0.436) ;
}
.profile-menu li a i {
  padding: 0px 10px;
  font-size: 17px;

}

.profile__menu-right .sign__input input ,.profile__menu-right .password__inputinput {
  padding: 0px 10px
}


.cover {
  margin: 10px 0px;
  border-radius: 10px;
  overflow: hidden;
}

.cover img {
  width: 100%;
  object-fit: cover;

}

.profile__info-wrapper .profile-pic-info-2{
  z-index: 5;
    position: relative;

    transition: 0.3s ease;
  width: 150px;
  height: 150px;

    border-radius: 50%;
    
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.542);
    overflow: hidden;
}
 .pic-edit-info-2 {

  position: relative;
  top: -50px;
  transition: 0.3s ease;
  right: 50%;
  transform: translateX(-56%);
}

.profile-pic-info-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-pic-2 {
  margin: 10px 0px;
    overflow: hidden;
    border-radius: 10px;
}
.update-info {
  background-color: #2f7edb;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;

}

.certificate-container {
  border-bottom: 1px solid gainsboro;
  margin-bottom: 20px;
}

.certif-input {
  color: #2f7edb;
  border: 1px solid #2984c9;
  padding: 0px 20px;
  border-radius: 5px;
}

.add-cert {
  color: #2f7edb;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .border-left {
    width: 100% !important;
    border: none;
  }
}


.remove {
  color: red;
  margin-left: 25px;
  font-size: 12px;
}

.certificate-info {
  margin-bottom: -10px;
}