{#{% extends "admin/change_list.html" %}#}
{#{% load static %}#}
{##}
{#{% block content %}#}
{#    {{ block.super }}#}
    {# Your custom content goes here #}
{##}
    {# Include Bootstrap from static files #}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">#}
{##}
{#    <div class="container mt-3">#}
{#        <div class="row">#}
            {# Card 1: Spaces Count #}
{#            <div class="col-md-4 mb-4">#}
{#                <div class="card bg-primary text-white rounded">#}
{#                    <div class="card-body">#}
{#                        <p>Spaces</p>#}
{#                        <p class="card-text fw-bold">{{ total_count }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
            {# Card 2: Posts Count #}
{#            <div class="col-md-4 mb-4">#}
{#                <div class="card bg-primary text-white rounded">#}
{#                    <div class="card-body">#}
{#                        <p>Posts</p>#}
{#                        <p class="card-text fw-bold">{{ posts_count }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
            {# Card 3: Members Count #}
{#            <div class="col-md-4 mb-4">#}
{#                <div class="card bg-primary text-white rounded">#}
{#                    <div class="card-body">#}
{#                        <p>Members</p>#}
{#                        <p class="card-text fw-bold">{{ member_count }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
